/* CSS Document */

								
/*================== CSS3 CLASS-e ======================*/
		
.pull_Up{
	 transform: translate(0px,-950px);
    -webkit-transform: translate(0px,-950px);
    -o-transform: translate(0px,-950px);
    -moz-transform: translate(0px,-950px);
	
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out;
}

.scale_0{
	transform: scale(o);
    -webkit-transform: scale(0);
    -o-transform: scale(0); 
    -moz-transform: scale(0);
	
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.scale_1{
	transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1); 
    -moz-transform: scale(1);
	
	 transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
	
}
.scale_1-4{
	z-index:100;
	 
	transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4); 
    -moz-transform: scale(1.4);
	
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.moveRight{
	transform:translate(-400px,0);
	-webkit-transform: translate(-400px,0); /** Chrome & Safari **/
    -o-transform: translate(-400px,0); /** Opera **/
    -moz-transform: translate(-400px,0); /** Firefox **/

}
.scaleServices{
	opacity: 0;
	 -webkit-transform: translateX(30px); 
	-moz-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: -webkit-transform .6s ease-in,opacity .8s ease-in; 
	transition: transform .6s ease-in,opacity .8s ease-in;
}
.scaleServices-in{
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}
.scaleTitle{
	opacity: 0;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
	transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}
.scaleTitle-in{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

}


/*====================INDEX PAGE=====================*/	

#home{
	background:url(../img/index/index_bcg.jpg) no-repeat center fixed;
	position:relative;
	background-size:cover;
}
#language{
	width:100%;
	height:130px;	
}
.flags{
	width:60px;
	height:60px;
	opacity:0.5;
}
.flags:hover{
	opacity:1;
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.8s ease-in-out; /** Firefox **/
    -o-transition: all 0.8s ease-in-out; /** Opera **/
	
}
#ger{
	background:url(../img/index/flags/Germany.PNG) center no-repeat ;
}
#eng{
	background:url(../img/index/flags/Uk.png) center no-repeat;
	
}
#bih{
	background:url(../img/index/flags/Bih.png) center no-repeat;
}
.activFlag{
	opacity:1;
}
/*MENU*/
.wraperIndex_menu{
	position:absolute;
	bottom:40%;
	width:95%;
}
.menu{
	margin-bottom:50px;
	padding:10px;
	color:#FFF;
}
.navbar-brand{
	width:250px;
	height:60px;
	background:url(../img/index/logo.png);
	background-size: 100% 100%;
	display:none;

}
.menu li{
	font-family: 'Montez', cursive;
	font-size: 55px;
	margin-left: 30px;
}
.menu li a{
	color:#FFF;
}
.nav>li>a:hover{
	background-color: transparent;
	color:#666;
	
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}	
.menuFixed{
	color:#F00;
	background-color: rgba(255, 255, 255, 0.9);
}
.menuFixed li a{
	color: #F4B700;
	font-size:25px;
	font-family:"Nothing You Could Do", sans-serif;
	font-weight:bold;
}
.menuFixed .active a{
	color:#FFF;
	//color:#666;
	text-decoration:underline;
}						
/*KRAJ MENU*/
#prvi{
	background: -moz-radial-gradient(center, ellipse cover, rgb(157,213,58) 0%, rgb(161,213,79) 2%, rgb(128,194,23) 51%, rgb(124,188,10) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(157,213,58)), color-stop(2%,rgb(161,213,79)), color-stop(51%,rgb(128,194,23)), color-stop(100%,rgb(124,188,10))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgb(157,213,58) 0%,rgb(161,213,79) 2%,rgb(128,194,23) 51%,rgb(124,188,10) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgb(157,213,58) 0%,rgb(161,213,79) 2%,rgb(128,194,23) 51%,rgb(124,188,10) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgb(157,213,58) 0%,rgb(161,213,79) 2%,rgb(128,194,23) 51%,rgb(124,188,10) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgb(157,213,58) 0%,rgb(161,213,79) 2%,rgb(128,194,23) 51%,rgb(124,188,10) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */	

}
#drugi{
	background: rgb(241,218,54); 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iI2YxZGEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgb(241,218,54) 29%, rgb(254,252,234) 97%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(29%,rgb(241,218,54)), color-stop(97%,rgb(254,252,234)));
	background: -webkit-linear-gradient(-45deg, rgb(241,218,54) 29%,rgb(254,252,234) 97%); 
	background: -o-linear-gradient(-45deg, rgb(241,218,54) 29%,rgb(254,252,234) 97%); 
	background: -ms-linear-gradient(-45deg, rgb(241,218,54) 29%,rgb(254,252,234) 97%); 
	background: linear-gradient(135deg, rgb(241,218,54) 29%,rgb(254,252,234) 97%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=1); 
}

#treci{
	background: rgb(249,198,103); 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOWM2NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjc5NjIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgb(249,198,103) 0%, rgb(247,150,33) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(249,198,103)), color-stop(100%,rgb(247,150,33)));
	background: -webkit-radial-gradient(center, ellipse cover, rgb(249,198,103) 0%,rgb(247,150,33) 100%); 
	background: -o-radial-gradient(center, ellipse cover, rgb(249,198,103) 0%,rgb(247,150,33) 100%); 
	background: -ms-radial-gradient(center, ellipse cover, rgb(249,198,103) 0%,rgb(247,150,33) 100%);
	background: radial-gradient(ellipse at center, rgb(249,198,103) 0%,rgb(247,150,33) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1);
}
#cetvrti{
	background: rgb(254,187,187); 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZWJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiNmZTkwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY1YzVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgb(254,187,187) 0%, rgb(254,144,144) 45%, rgb(255,92,92) 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(254,187,187)), color-stop(45%,rgb(254,144,144)), color-stop(100%,rgb(255,92,92)));
    background: -webkit-radial-gradient(center, ellipse cover, rgb(254,187,187) 0%,rgb(254,144,144) 45%,rgb(255,92,92) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgb(254,187,187) 0%,rgb(254,144,144) 45%,rgb(255,92,92) 100%); 
	background: -ms-radial-gradient(center, ellipse cover, rgb(254,187,187) 0%,rgb(254,144,144) 45%,rgb(255,92,92) 100%); 
	background: radial-gradient(ellipse at center, rgb(254,187,187) 0%,rgb(254,144,144) 45%,rgb(255,92,92) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1); 

}
#peti{
	background: rgb(255,93,177); 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjZmY1ZGIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmMDE3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-radial-gradient(center, ellipse cover, rgb(255,93,177) 21%, rgb(239,1,124) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(21%,rgb(255,93,177)), color-stop(100%,rgb(239,1,124)));
	background: -webkit-radial-gradient(center, ellipse cover, rgb(255,93,177) 21%,rgb(239,1,124) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgb(255,93,177) 21%,rgb(239,1,124) 100%); 
	background: -ms-radial-gradient(center, ellipse cover, rgb(255,93,177) 21%,rgb(239,1,124) 100%); 
	background: radial-gradient(ellipse at center, rgb(255,93,177) 21%,rgb(239,1,124) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=1);  
}


.box{
	height:170px;
	width:180px;
	margin-left:35px;
	border-radius:5px;
	position:relative;
	cursor:pointer;
	
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}
.naslov{
	font-size:56px;
	text-align:center;
	color:#FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	font-family: 'Montez', cursive;
	margin-top:45px;
	
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}
.descriptionIndex{
	position:absolute;
	font-size:12px;
	left:45px;
	color:#E7DDDD;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	//font-family:Verdana, Geneva, sans-serif;
	font-family: 'Nothing You Could Do', cursive;
	font-style:bold;
	bottom: 30px;

	 transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.2s ease-in-out; /** Firefox **/
    -o-transition: all 0.2s ease-in-out; /** Opera **/
	
}
#peti .naslov {
	font-size:50px;
	margin-top:45px;
}

.box span{
	color:#FFF;
	font-size:46px;
	position:absolute;
	margin-top: 25px;
	margin-left:50px;

}
							
							
/*===================DIVIDER-i============================*/
.divider{
	/*position:relative;*/
	height:400px;
	border-top:#666 10px solid;
	border-bottom:#666 10px solid;
}
.divider p{
	text-align:center;
	color:#CCC;
	margin-top:100px;
	font-family: 'Holtwood One SC', serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

#divider_1{
	background:url(../img/divider/divider_1.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;

}
#divider_1 p{
	font-size:46px;
	line-height: 98px;
}
#divider_2{
	/*position:relative;*/
	background:url(../img/divider/divider_2.jpg) fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
#divider_2 p{
	font-size:45px;
	line-height:65px;
	font-family: 'Nothing You Could Do', cursive;
}
#divider_3{
	background:url(../img/divider/divider_3.jpg) fixed;
	background-repeat:no-repeat;
    background-size: 100% 100%;
}
#divider_3 p{
	font-family: 'Nothing You Could Do', cursive;
	font-size:35px;
	line-height:65px;
}
#divider_4{
	height:150px;
	background-color:transparent;
	border-top:1px solid #FFF;
    background-size: 100% 100%;
}
							
/*====================PORTOFOLIO PAGE=====================*/
			
#portofolio{
	background:url(../img/portofollio/portofolio_bcg.jpg) no-repeat  ;
	background-attachment:fixed;
	padding-bottom:60px;
}

.portofolioTitle{
	margin-top:60px;
	text-align:center;
	color:#CCC;
	font-family: 'Nothing You Could Do', cursive;
}
.portofolioTitle h1{
	font-family: 'Holtwood One SC', serif;

}
.portofolioTitle p{
	font-size:24px;
	color: #F4B700;
	font-style:bold;
	margin-top:5%;
}
.fixed{
	position:absolute fixed;
}

.browserPortofolio{
	width:400px;
	height: 400px;
	background-attachment:fixed;
	margin-top:50px;
	margin-left:100px;
	background:url(../img/portofollio/browser1.png);
}
.portofolioDescriptionBottom{
	bottom: 0px;
	position: absolute;
	width: 100%;
}
.portofolioDescription h5 ,.portofolioDescriptionBottom h5{
	color: #F4B700;
	font-size: 17px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);

}
#port1{
	background:url(../img/portofollio/lilium.png) center;
}
#port2{
	background:url(../img/portofollio/medica.png) center;

}
#port3{
	background:url(../img/portofollio/swiss.png) center;

}
#port4{
	background:url(../img/portofollio/hostel.png) center;

}

.btn2{
	margin-left: 24%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: #82cff0;
	border:none;
	color: #fff;
	min-height: 50px;
	padding: 0 30px;
	line-height: 50px;
	font-size: 18px;
	display: inline-block;
	margin-top: 20px;	
}
.btn2:hover {
	background: #7fc9e8;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
	transition: background-color .15s ease-in-out;
}
							
/*====================SEVICES PAGE=====================*/	

#services{
	background:url(../img/services/services_bcg1.jpg) no-repeat ;
	background-color:#CCC;
	background-attachment:fixed;
	padding-bottom:40px;
}
#services h2{
	color:#FFF;
	font-family: 'Nothing You Could Do', cursive;
}
#services p{
	font-family: Lato, sans-serif;
	color:#5E5A5A;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	letter-spacing: 0.01em;
	font-family: "Comic Sans MS", cursive;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	text-align:center;
} 
[class^="icon-"], [class*=" icon-"] {
	font-family: FontAwesome;
	font-size:72px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

.servicesTitle{
	position: relative;
	margin-top:90px;
	font-size: 38px;
	line-height: 64px;
	font-weight: 300;
	text-align: center;
	color:#999595;
	z-index: 1;
	margin-bottom:124px;
	font-family: 'Holtwood One SC', serif;
}
.servicesTitle span{
	font-family: 'Nothing You Could Do', cursive;
	color:#FFF;
	font-size: 150%;
	font-weight: 800;
}
.servicesLine{
	height: 6px;
	background: #444;
	margin-top:10px;
	margin-bottom: 24px;
}
.servicesIcon{
	position: relative;
	display: inline-block;
	padding: 0;
	margin-bottom: 24px;
	width: 160px;
	height: 160px;
	text-align: center;
	font-size: 72px;
	line-height: 130px;
	color: #ccc;
	background: none;
	border: 10px solid #F4B700;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
	margin-left:10px;
}
.servicesIcon:hover:after{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	transition: all 0.4s ease-out;
}
.servicesIcon:after{
	pointer-events: none;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F4B700;
	border-radius: 50%;
	border: 2px solid #F4B700;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: -2px;
	left: -2px;
	z-index: -1;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
#services .fa{
	font-size: 72px;
	color: #ccc;
	line-height: 130px;
}
.tackica{
	margin: -7px auto;
	display: block;
	width: 20px;
	height: 20px;
	background: #2ca492;
	border: 5px solid #fff;
	border-radius: 50%;
}
.bottomRow p{
	margin-top: 48px;
	
}


/*====================ABOUT PAGE=====================*/	

#about{
	padding-top: 30px;
	background-color: #34c3c1;
	background-repeat: no-repeat;
	padding-bottom:50px;
}
.aboutTitle{
	font-size: 38px;
	font-weight: 300;
	text-align: center;
	color:#999595;
}
.aboutTitle h1{
	margin-top:7%;
	color:#FFF;
	font-size: 38px;
	font-family: 'Holtwood One SC', serif;
	text-shadow:#666;
}
.aboutTitle span{
	font-size: 150%;
	font-weight: 800;	
	color: #F4B700;
	font-family: 'Nothing You Could Do', cursive;
}
.aboutTitle p{
	color:#FFF;
	font-family: 'Nothing You Could Do', cursive;
	font-size:34px;
	font-weight: bold;
	margin-top:1%;

}/*
.leftContent, .rightContent{
	margin-top:30px;
	color:#CCC;
	//color: #F4B700;
	font-size:24px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight:bold
}
.leftContent h3{
	color:#FFF;
	font-family: 'Nothing You Could Do', cursive;
	font-weight:bold


}*/
.nav-tabs{
	text-align:center;
	border:none;

}
.nav-tabs li{
	padding:50px 0 30px 0;
}
.tab-content{
	height:350px;

}
.nav-tabs>li>a{
	 border-radius: 0 0 0 0;
	 font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
	 color:#333;
	 font-size:16px;
	 font-weight:bold;
} 
.nav-tabs>li>a:hover{
	border:none;
	border-top: 3px solid #F7AB0B;
}
.nav-tabs>li.active>a{
	border:none;
	background-color:transparent;
        border-top: 3px solid #F7AB0B;

}
.nav-tabs>li.active>a:hover{
	background-color:transparent;
	border:none;
	border-top:3px solid #CCC;

}
.tab-pane h3{
	color:#FFF;
	text-align:center;
	font-size:40px;
	font-family: 'Holtwood One SC', serif;
	
}
.tab-pane p{
	font-size: 26px;
	line-height: 38px;
	text-align:center;
	color:#FFF;
	font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;

}


.timeline {
  margin-top:50px;
  list-style: none;
  padding: 20px 0 20px;
  position: relative;

}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color:#FFF;
  left: 50%;
  margin-left: -1.5px;
  border-radius:10px; 
}

.timeline > li {
  margin-top:250px;
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid  #F4B700;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 1.475);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.475);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 100;

}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #F4B700; !important;
}
.timeline-badge a:hover {
   color: #F4B700; !important;
}
.timeline-body > p,
.timeline-body > ul {
	font-size: 16px;
    padding:20px;
    margin-bottom: 0;
	color:#CCC;	
	text-align: center;
	line-height: 27px;
	font-family:"Comic Sans MS", cursive
}

.timeline-footer{
	border-top:#F4B700 1px solid;
}
.timeline-footer h2{
    font-family: 'Nothing You Could Do', cursive;	}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}
.timeline-heading img{
	margin-left:24%;
}
.skillsWraper{
	width:100%;
}
.progresBar{
	background: #eee;
	background: rgba(0,0,0,.1);
	margin: 25px 0 45px;
	text-align: left;
	color: #000;
	position: relative;
	height: 7px;
	border-radius: 10px;
}
.progresTitle{
	color:#FFF;
	width:100%;
	z-index: 1;
	font-style: normal;
	position: absolute;
	top: -25px;
	text-transform: uppercase;
	font-size: .9em;
}
.progresTitle span{
	opacity:0;
	
	transition-duration: 5s;
	-webkit-transition-duration: 5s;
	-moz-transition-duration: 5s;
    -o-transition-duration: 5s;
}
.progres{
	background-color:#F4B700;
	height: 7px;
	position: absolute;
	border-radius: 10px;
}



.skill{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
//border: 3px solid #F7AB0B;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.skillName{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 15px;
}
#ruby{
    background-image:url("../img/skills/ruby.png");

}
#javascript{
    background-image:url("../img/skills/javascript-icon.png");

}
#node{
    background-image:url("../img/skills/nodejs-icon.png");

}
#angular{
    background-image:url("../img/skills/angular-icon.png");
}
#api{
    background-image:url("../img/skills/api-icon.png");
}
#rest{
    background-image:url("../img/skills/rest-icon.png");
}
#jquery{
    background-image:url("../img/skills/jquery.png");
}
#css3{
    background-image:url("../img/skills/css3.png");
}
#html5{
    background-image:url("../img/skills/html5.png");
}
#c{
    background-image:url("../img/skills/c-icon.png");
}
#asp{
    background-image:url("../img/skills/asp-icon.png");
}
#php{
    background-image:url("../img/skills/php-icon.png");
}
#laravel{
    background-image:url("../img/skills/laravel-icon.png");
}

/*====================CONTACT PAGE=====================*/	


#contact{
	background:url(../img/contact/contact-bg.jpg) fixed;
	background-repeat:no-repeat;
}
.contactTitle {
	height:100px;
}
.contactTitle h1{
	z-index:2;
	margin-top:10%;
	color:#FFF;
	font-size: 38px;
	line-height: 64px;
	font-family: 'Holtwood One SC', serif;
	text-shadow:#666;
}
.contactTitle span{
	font-size: 150%;
	font-weight: 800;	
	color: #F4B700;
	font-family: 'Nothing You Could Do', cursive;
}
.contactTitle p{
	color: #F4B700;
	font-style:bold;
	font-family: 'Nothing You Could Do', cursive;
	font-size:34px;
	font-style:bold;
	margin-top:5%;
}
.rightControl{
	margin-top:10%;
}

.form-group{
	position:relative;

}
.form-group input{
	width:100%;
	background: #fff;
	background: rgba(255,255,255,0.9);
	border: none;
	border-radius: 1px;
	outline: none;
	box-shadow: none;
	margin-bottom: 30px;
	height: 68px;
	font-size: 22px;
	line-height: 48px;
	font-weight: 300;
	color: #cdcdcd;
	padding-left: 64px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.form-group textarea{
	background: #fff;
	background: rgba(255,255,255,0.9);
	height: auto;
	padding-left: 64px;
	max-width: 100%;
	min-width: 100%;
	color:#333;
	font-size: 22px;
	line-height: 42px;
	padding-top: 14px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.form-group .fa{
	display: block;
	width: 64px;
	position: absolute;
	top: 0;
	left: 5px;
	color: #cdcdcd;
	font-size: 32px;
	line-height: 68px;
	text-align: center;
	font-weight: 300;
}
.btn-theme{
	color: #fff;
	background-color: #2ca492;
	padding: 15px 90px;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
.btn-theme:hover{
	background:#f4b700;
	color:#FFF;

}




















@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }

    /*ul.timeline > li > .timeline-panel {*/
    /*width: calc(100% - 90px);*/
    /*width: -moz-calc(100% - 90px);*/
    /*width: -webkit-calc(100% - 90px);*/
    /*}*/
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

.nav-tabs>li.active>a:focus {
    background-color: transparent;
    border: none;
    border-top: 3px solid #F7AB0B;;

}


